In [80]:
# 필수 라이브러리
import pandas as pd
import numpy as np
import random
import tensorflow as tf

# 랜덤 시드 고정
SEED=12
random.seed(SEED)
np.random.seed(SEED)
tf.random.set_seed(SEED)  
print("시드 고정: ", SEED)

import random

시드 고정:  12

In [76]:
df = pd.read_csv('../thanos2.csv', index_col=0)
df

,mbti,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,job,대학생,무직,미성년자,사업가,전업주부,직장인,프리랜서,best8,best4
1,INFP,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,modern,minimal
32,INFP,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,modern,minimal
49,INFP,0,0,0,0,0,0,0,0,0,...,직장인,0,0,0,0,0,1,0,modern,minimal
50,INFP,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,modern,minimal
111,INFP,0,0,0,0,0,0,0,0,0,...,미성년자,0,0,1,0,0,0,0,modern,minimal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
562,ESTP,0,0,0,0,0,0,0,1,0,...,대학생,1,0,0,0,0,0,0,natural,natural
565,ENFJ,1,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,natural,natural
566,INTP,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,minimal,minimal
571,INTP,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,vintage,vintage
573,ESFP,0,0,0,0,0,1,0,0,0,...,직장인,0,0,0,0,0,1,0,natural,natural

In [77]:
df.best8.value_counts()

natural          88
modern           80
minimal          42
vintage          25
casual           10
useful            8
individuality     5
romantic          5
Name: best8, dtype: int64

In [86]:
df[df['best8']=='natural']

,mbti,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,job,대학생,무직,미성년자,사업가,전업주부,직장인,프리랜서,best8,best4
18,ESFP,0,0,0,0,0,1,0,0,0,...,무직,0,1,0,0,0,0,0,natural,natural
22,ENFP,0,1,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,natural,vintage
47,ENFP,0,1,0,0,0,0,0,0,0,...,사업가,0,0,0,1,0,0,0,natural,natural
67,ENFP,0,1,0,0,0,0,0,0,0,...,직장인,0,0,0,0,0,1,0,natural,vintage
79,ENFP,0,1,0,0,0,0,0,0,0,...,사업가,0,0,0,1,0,0,0,natural,natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
545,INFP,0,0,0,0,0,0,0,0,0,...,무직,0,1,0,0,0,0,0,natural,natural
549,INFP,0,0,0,0,0,0,0,0,0,...,무직,0,1,0,0,0,0,0,natural,natural
562,ESTP,0,0,0,0,0,0,0,1,0,...,대학생,1,0,0,0,0,0,0,natural,natural
565,ENFJ,1,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,natural,natural
573,ESFP,0,0,0,0,0,1,0,0,0,...,직장인,0,0,0,0,0,1,0,natural,natural

In [93]:
natural = df[df['best8']=='natural'].sample(n=20)
modern = df[df['best8']=='modern'].sample(n=20)
minimal = df[df['best8']=='minimal'].sample(n=20)
vintage = df[df['best8']=='vintage'].sample(n=20)
casual = df[df['best8']=='casual']
useful = df[df['best8']=='useful']
individuality = df[df['best8']=='individuality']
romantic = df[df['best8']=='romantic']

In [95]:
thanos_final = pd.concat([natural, modern, minimal, vintage, casual, useful, individuality, romantic], axis=0)
thanos_final

,mbti,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,job,대학생,무직,미성년자,사업가,전업주부,직장인,프리랜서,best8,best4
112,INFP,0,0,0,0,0,0,0,0,0,...,미성년자,0,0,1,0,0,0,0,natural,natural
355,ISFP,0,0,0,0,0,0,0,0,0,...,직장인,0,0,0,0,0,1,0,natural,natural
230,ESTP,0,0,0,0,0,0,0,1,0,...,직장인,0,0,0,0,0,1,0,natural,natural
434,ISFJ,0,0,0,0,0,0,0,0,0,...,사업가,0,0,0,1,0,0,0,natural,natural
316,ENFJ,1,0,0,0,0,0,0,0,0,...,무직,0,1,0,0,0,0,0,natural,natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,INFP,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,romantic,natural
232,ISFP,0,0,0,0,0,0,0,0,0,...,직장인,0,0,0,0,0,1,0,romantic,natural
365,INFJ,0,0,0,0,0,0,0,0,1,...,직장인,0,0,0,0,0,1,0,romantic,natural
456,ESFP,0,0,0,0,0,1,0,0,0,...,사업가,0,0,0,1,0,0,0,romantic,individuality
462,ISTJ,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,romantic,natural

In [98]:
thanos_final.mbti.value_counts()

INFP    20
ISFP    12
INTP     9
INFJ     9
ENTP     8
ENFP     8
ISTJ     6
INTJ     6
ISTP     5
ISFJ     5
ESFP     5
ENFJ     5
ESTP     4
ENTJ     3
ESTJ     2
ESFJ     1
Name: mbti, dtype: int64

In [101]:
thanos_final

,mbti,ENFJ,ENFP,ENTJ,ENTP,ESFJ,ESFP,ESTJ,ESTP,INFJ,...,job,대학생,무직,미성년자,사업가,전업주부,직장인,프리랜서,best8,best4
112,INFP,0,0,0,0,0,0,0,0,0,...,미성년자,0,0,1,0,0,0,0,natural,natural
355,ISFP,0,0,0,0,0,0,0,0,0,...,직장인,0,0,0,0,0,1,0,natural,natural
230,ESTP,0,0,0,0,0,0,0,1,0,...,직장인,0,0,0,0,0,1,0,natural,natural
434,ISFJ,0,0,0,0,0,0,0,0,0,...,사업가,0,0,0,1,0,0,0,natural,natural
316,ENFJ,1,0,0,0,0,0,0,0,0,...,무직,0,1,0,0,0,0,0,natural,natural
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,INFP,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,romantic,natural
232,ISFP,0,0,0,0,0,0,0,0,0,...,직장인,0,0,0,0,0,1,0,romantic,natural
365,INFJ,0,0,0,0,0,0,0,0,1,...,직장인,0,0,0,0,0,1,0,romantic,natural
456,ESFP,0,0,0,0,0,1,0,0,0,...,사업가,0,0,0,1,0,0,0,romantic,individuality
462,ISTJ,0,0,0,0,0,0,0,0,0,...,대학생,1,0,0,0,0,0,0,romantic,natural

In [102]:
thanos_final.columns

Index(['mbti', 'ENFJ', 'ENFP', 'ENTJ', 'ENTP', 'ESFJ', 'ESFP', 'ESTJ', 'ESTP',
       'INFJ', 'INFP', 'INTJ', 'INTP', 'ISFJ', 'ISFP', 'ISTJ', 'ISTP', 'types',
       'analysts', 'diplomats', 'explorers', 'sentinels', 'sex', '남자', '여자',
       'age', '10대', '20대', '30대', '40대', '50대', '60대 이상', 'job', '대학생', '무직',
       '미성년자', '사업가', '전업주부', '직장인', '프리랜서', 'best8', 'best4'],
      dtype='object')

In [103]:
types = thanos_final.loc[:, 'analysts':'sentinels']
sex = thanos_final.loc[:, '남자':'여자']
age = thanos_final.loc[:, '10대':'60대 이상']
job = thanos_final.loc[:, '대학생':'프리랜서']
y_data= thanos_final.best8

In [104]:
y_data.value_counts()

minimal          20
natural          20
modern           20
vintage          20
casual           10
useful            8
individuality     5
romantic          5
Name: best8, dtype: int64

In [106]:
y_data.replace(['minimal', 'natural', 'modern', 'vintage', 'casual', 'useful', 'individuality', 'romantic'], 
               [0, 1, 2, 3, 4, 5, 6, 7], inplace=True)

In [107]:
from tensorflow.keras.utils import to_categorical

# quality가 3부터 시작하므로 0부터 시작하게끔 
y_data = to_categorical(y_data) 
y_data

array([[0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 0., 0., 1.]], dtype=float32)

In [109]:
X_data = pd.concat([types, sex, age, job], axis=1)
X_data

,analysts,diplomats,explorers,sentinels,남자,여자,10대,20대,30대,40대,50대,60대 이상,대학생,무직,미성년자,사업가,전업주부,직장인,프리랜서
112,0,1,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0
355,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0
230,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0
434,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,1,0,0,0
316,0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0
232,0,0,1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0
365,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0
456,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0
462,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0

In [117]:
# train/test 분리
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_data, 
                                                    y_data, 
                                                    test_size=0.3, 
                                                    shuffle=True, 
                                                    random_state=12)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(75, 19) (75, 8)
(33, 19) (33, 8)

In [118]:
# 심층 신경망 모델
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense, Dropout

def build_model(train_data, train_target):
    model = Sequential()
    model.add(Dense(128, activation='tanh', input_dim=X_train.shape[1]))
    model.add(Dropout(0.2))
    model.add(Dense(64, activation='tanh'))
    model.add(Dropout(0.2))
    model.add(Dense(32, activation='tanh'))
    model.add(Dropout(0.2))
    model.add(Dense(y_train.shape[1], activation='softmax'))
    
    model.compile(optimizer='rmsprop',
                  loss='categorical_crossentropy', 
                  metrics=['acc', 'mae'])
    return model

model = build_model(X_train, y_train)
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_12 (Dense)            (None, 128)               2560

 dropout_9 (Dropout)         (None, 128)               0

 dense_13 (Dense)            (None, 64)                8256

 dropout_10 (Dropout)        (None, 64)                0

 dense_14 (Dense)            (None, 32)                2080

 dropout_11 (Dropout)        (None, 32)                0

 dense_15 (Dense)            (None, 8)                 264

=================================================================
Total params: 13,160
Trainable params: 13,160
Non-trainable params: 0
_________________________________________________________________

In [119]:
# model fit
from tensorflow.keras.callbacks import EarlyStopping

early_stopping = EarlyStopping(monitor='val_loss',  patience=10)
history = model.fit(X_train, y_train, batch_size=32, epochs=200,
                    validation_data=(X_test, y_test),
                    callbacks=[early_stopping], 
                    verbose=2)

Epoch 1/200
3/3 - 1s - loss: 2.0237 - acc: 0.1333 - mae: 0.2137 - val_loss: 1.9809 - val_acc: 0.1818 - val_mae: 0.2134 - 1s/epoch - 341ms/step
Epoch 2/200
3/3 - 0s - loss: 1.9317 - acc: 0.3067 - mae: 0.2091 - val_loss: 1.9518 - val_acc: 0.2121 - val_mae: 0.2117 - 165ms/epoch - 55ms/step
Epoch 3/200
3/3 - 0s - loss: 1.8162 - acc: 0.3867 - mae: 0.2039 - val_loss: 1.9478 - val_acc: 0.1515 - val_mae: 0.2106 - 248ms/epoch - 83ms/step
Epoch 4/200
3/3 - 0s - loss: 1.8794 - acc: 0.2667 - mae: 0.2063 - val_loss: 1.9565 - val_acc: 0.1818 - val_mae: 0.2097 - 115ms/epoch - 38ms/step
Epoch 5/200
3/3 - 0s - loss: 1.8753 - acc: 0.3200 - mae: 0.2055 - val_loss: 1.9558 - val_acc: 0.1818 - val_mae: 0.2098 - 75ms/epoch - 25ms/step
Epoch 6/200
3/3 - 0s - loss: 1.8072 - acc: 0.3200 - mae: 0.2020 - val_loss: 1.9744 - val_acc: 0.1818 - val_mae: 0.2099 - 73ms/epoch - 24ms/step
Epoch 7/200
3/3 - 0s - loss: 1.7391 - acc: 0.3067 - mae: 0.1984 - val_loss: 1.9836 - val_acc: 0.1818 - val_mae: 0.2093 - 57ms/epoch - 19ms/step
Epoch 8/200
3/3 - 0s - loss: 1.7841 - acc: 0.3467 - mae: 0.1999 - val_loss: 1.9874 - val_acc: 0.1818 - val_mae: 0.2097 - 39ms/epoch - 13ms/step
Epoch 9/200
3/3 - 0s - loss: 1.7125 - acc: 0.4133 - mae: 0.1976 - val_loss: 1.9992 - val_acc: 0.1818 - val_mae: 0.2093 - 107ms/epoch - 36ms/step
Epoch 10/200
3/3 - 0s - loss: 1.7275 - acc: 0.3467 - mae: 0.1969 - val_loss: 1.9995 - val_acc: 0.1818 - val_mae: 0.2086 - 76ms/epoch - 25ms/step
Epoch 11/200
3/3 - 0s - loss: 1.7441 - acc: 0.3600 - mae: 0.1979 - val_loss: 1.9945 - val_acc: 0.1818 - val_mae: 0.2081 - 66ms/epoch - 22ms/step
Epoch 12/200
3/3 - 0s - loss: 1.7451 - acc: 0.3333 - mae: 0.1978 - val_loss: 2.0026 - val_acc: 0.1818 - val_mae: 0.2074 - 79ms/epoch - 26ms/step
Epoch 13/200
3/3 - 0s - loss: 1.7165 - acc: 0.4000 - mae: 0.1959 - val_loss: 1.9920 - val_acc: 0.1818 - val_mae: 0.2066 - 66ms/epoch - 22ms/step

In [120]:
# accuracy
loss, acc, _ = model.evaluate(X_test, y_test)
print('loss>> ', loss)
print('acc>> ', acc)

2/2 [==============================] - 0s 3ms/step - loss: 1.9920 - acc: 0.1818 - mae: 0.2066
loss>>  1.9920110702514648
acc>>  0.1818181872367859

In [121]:
# test 데이터에 대한 예측값 정리
y_pred_proba = model.predict(X_test)
y_pred_proba

array([[0.11356137, 0.04363652, 0.1221707 , 0.378103  , 0.15973967,
        0.08888739, 0.06633238, 0.02756893],
       [0.30244076, 0.03552257, 0.1818317 , 0.19313441, 0.11707101,
        0.06981165, 0.04065813, 0.05952971],
       [0.02105216, 0.45012534, 0.06147732, 0.1757442 , 0.16937074,
        0.06447861, 0.02660368, 0.03114798],
       [0.16707507, 0.12943158, 0.11374633, 0.08964609, 0.10249056,
        0.10470583, 0.13349885, 0.15940566],
       [0.24170755, 0.04368329, 0.14956325, 0.24695471, 0.13103475,
        0.07266596, 0.08066079, 0.03372969],
       [0.04968784, 0.41932717, 0.15726145, 0.18832348, 0.07412062,
        0.05583896, 0.00847646, 0.04696399],
       [0.28053522, 0.05088282, 0.20522916, 0.14003308, 0.09975662,
        0.08297807, 0.07136831, 0.0692167 ],
       [0.28053522, 0.05088282, 0.20522916, 0.14003308, 0.09975662,
        0.08297807, 0.07136831, 0.0692167 ],
       [0.28053522, 0.05088282, 0.20522916, 0.14003308, 0.09975662,
        0.08297807, 0.07136831, 0.0692167 ],
       [0.08874297, 0.392555  , 0.07032483, 0.07147922, 0.08541585,
        0.11726118, 0.04859553, 0.12562542],
       [0.06855965, 0.34353605, 0.10296042, 0.09836291, 0.07534206,
        0.09484738, 0.0438027 , 0.1725889 ],
       [0.20505354, 0.04137801, 0.22262284, 0.27690673, 0.09513637,
        0.07760611, 0.03445788, 0.04683848],
       [0.3139611 , 0.21081069, 0.15673016, 0.05487814, 0.06923226,
        0.04193504, 0.02078497, 0.1316676 ],
       [0.07153636, 0.39918604, 0.1948306 , 0.12354327, 0.09486939,
        0.04242478, 0.00959367, 0.06401595],
       [0.07940225, 0.36610726, 0.05803317, 0.1374069 , 0.12621993,
        0.11211486, 0.05879731, 0.06191837],
       [0.11356137, 0.04363652, 0.1221707 , 0.378103  , 0.15973967,
        0.08888739, 0.06633238, 0.02756893],
       [0.07379904, 0.32426867, 0.09385213, 0.19318111, 0.14603771,
        0.07971749, 0.02808972, 0.06105413],
       [0.11795774, 0.07132606, 0.29790807, 0.28057098, 0.12608504,
        0.0506619 , 0.02215876, 0.03333144],
       [0.12573376, 0.29395917, 0.16858478, 0.13645172, 0.08128923,
        0.07442572, 0.01497926, 0.10457631],
       [0.17164207, 0.3149458 , 0.13724141, 0.06191725, 0.07652873,
        0.06135207, 0.0279023 , 0.1484704 ],
       [0.23012775, 0.27961364, 0.08792992, 0.06503526, 0.08831941,
        0.08330642, 0.03387288, 0.13179468],
       [0.17164207, 0.3149458 , 0.13724141, 0.06191725, 0.07652873,
        0.06135207, 0.0279023 , 0.1484704 ],
       [0.2393915 , 0.04706847, 0.15850109, 0.22727576, 0.08891248,
        0.11832558, 0.07167996, 0.04884511],
       [0.12573376, 0.29395917, 0.16858478, 0.13645172, 0.08128923,
        0.07442572, 0.01497926, 0.10457631],
       [0.30928826, 0.11235525, 0.12019821, 0.09776459, 0.09499921,
        0.10008423, 0.08335276, 0.08195746],
       [0.14545475, 0.05800268, 0.17590876, 0.23892184, 0.13759479,
        0.11508834, 0.06364577, 0.06538311],
       [0.2393915 , 0.04706847, 0.15850109, 0.22727576, 0.08891248,
        0.11832558, 0.07167996, 0.04884511],
       [0.4446667 , 0.03078665, 0.1907608 , 0.10967339, 0.07967595,
        0.04690294, 0.04137816, 0.05615541],
       [0.1440659 , 0.33602062, 0.11199547, 0.10794428, 0.07402124,
        0.09673509, 0.02669135, 0.10252613],
       [0.03773072, 0.07697741, 0.12144461, 0.50675553, 0.13566987,
        0.07191856, 0.03595087, 0.01355248],
       [0.17164208, 0.31494582, 0.1372414 , 0.06191724, 0.07652873,
        0.06135207, 0.02790232, 0.14847042],
       [0.04968783, 0.41932726, 0.1572614 , 0.1883235 , 0.07412063,
        0.05583896, 0.00847646, 0.04696398],
       [0.1356999 , 0.30792302, 0.16413793, 0.12405651, 0.08584555,
        0.05905916, 0.02552881, 0.09774905]], dtype=float32)

In [122]:
# 확률을 타겟값으로 변경 => np.argmax
y_pred_label = np.argmax(y_pred_proba, axis=-1)
y_pred_label

array([3, 0, 1, 0, 3, 1, 0, 0, 0, 1, 1, 3, 0, 1, 1, 3, 1, 2, 1, 1, 1, 1,
       0, 1, 0, 3, 0, 0, 1, 3, 1, 1, 1])